@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
:root{
    --Font1: 'DM Sans', sans-serif;
    --SoftRed: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --DarkBrown: hsl(25, 47%, 15%);
    --MediumBrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --VeryPaleOrange: hsl(33, 100%, 98%);
}


html,body{
    margin: 0;
}
body{
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: var(--Font1);
}
.chart-container{
    width: 460px;
    margin: auto ;
}
.chart-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--SoftRed);
    padding: 20px 20px;
    border-radius: 10px;
    color: var(--VeryPaleOrange);
}
.chart-title  h2{
    margin: 0;
}
.chart-title  p{
    margin: 5px 0;
    font-size: 14px;
}

.chart-body{
    background: var(--VeryPaleOrange);
    border-radius: 10px;
    padding: 10px 20px 20px;
    margin-top: 20px;
    color: var(--DarkBrown);
}

.chart-bars{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
    width: 100%;
}
.bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bar-container h3{
    font-weight: 500;
    font-size: 14px;
    color: var(--MediumBrown);
}
.bar-container h4{
    font-size: 13px;
    color: var(--VeryPaleOrange);
    background: var(--DarkBrown);
    padding: 5px;
    border-radius: 3px;
    margin: 0 0 8px 0;
    display: none;
}
.bar{
    background-color: var(--SoftRed);
    border-radius: 3px;
    width: 38px;
}

.bar:hover{
    opacity: .7;
    cursor: pointer;
    
}
.bar-max{
    background-color: var(--Cyan);
}
.separator{
    width: 100%;
    height: 1.5px;
    background-color: var(--Cream);
}
.chart-total{
    display: flex;
    justify-content: space-between;
}
.total-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.total-container p{
    margin: 0;
    color: var(--MediumBrown);
    font-size: 13px;
}
.total-container h2{
    margin: 0 0 0 5px;
    font-size: 37px;
}

.porcent-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
    margin-top: 20px;

}
.porcent-container h3{
    margin: 0;

}
.porcent-container p{
    margin: 0;
    color: var(--MediumBrown);
    font-size: 13px;
}

@media (max-width: 375px) {
    main{
        width: 90%;

    }
    .chart-container{
        width: 100%;
   
    }

}